<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.willywonkamusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wonka_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wonka_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumSongList"
            android:label="Album Song List"  />
        <activity
            android:name=".TicketSong"
            android:label="(I&apos;ve Got a) Golden Ticket" />
        <activity
            android:name=".OompaSong"
            android:label="Oompa Loompa" />
        <activity
            android:name=".WonkataniaSong"
            android:label="The Wondrous Boat Ride " />
        <activity
            android:name=".NowSong"
            android:label="I Want It Now" />
    </application>

</manifest>